MENU_FOLDER               RCDATA                 item_folder.png
MENU_WORD               RCDATA                 item_word.png
MENU_PDF               RCDATA                 item_pdf.png
MENU_VIDEO               RCDATA                 item_video.png
MENU_FOTO               RCDATA                 item_foto.png
MENU_MUZIK               RCDATA                 item_muzik.png
MENU_EXCELL               RCDATA                 item_excell.png
MENU_ITEM               RCDATA                 item_graph.png
MENU_UNKNOWN               RCDATA                 item_unknown.png
MENU_UYGULAMA               RCDATA                 item_uygulama.png
HOUR_CLAS               RCDATA                 hourglass.png
FOCUS               RCDATA                 focus.png
YUKARI               RCDATA                 yukari.png
ASAGI               RCDATA                 asagi.png
CHECKED               RCDATA                 check.png
SABITDISK               RCDATA                 sabitdisk.png
CDDISK               RCDATA                 cdrom.png
CIKARILABILIRDISK               RCDATA                 cikarilabilirdisk.png