BUTTON               RCDATA                 button.png
SPACE               RCDATA                 spacebtn.png
ENTER               RCDATA                 enterbtn.png
TEXTBOX               RCDATA                 textbox.png
